@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header h1 {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

.container {
  display: grid;
  grid-template-columns: 480px 350px;
  justify-content: center;
  padding: 1rem;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
}

form h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

form label {
    font-size: 12px;
    margin: 10px 0;
}

.products {
  padding: 0 3rem;

}

.product {
  display: flex;
}

.product img {
  width: 100px;
}

